<?xml version="1.0" encoding="utf-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.reactiva.nombreaplicacion"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>camara</name>

    <description>
        primera prueba. 
    </description>

    <author href="http://www.reactiva.com.co" email="yulianacalero@reactiva.com.co">
        Yuliana calero. 
    </author>
	
	<feature name="http://api.phonegap.com/1.0/camera"/>
	<feature name="http://api.phonegap.com/1.0/file"/>

</widget>